a {
    color: #000000;
}

body {
    color: #000000;
    background-color: #9C5D98;
    font-family: Helvetica, sans-serif;
}

button {
    background-color: #000000;
    border: 4px solid #000000;
    border-radius: 20px;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline: none;
}

button:disabled {
    background-color: #333;
    color: #666;
}

dl.icon dd {
    margin: 10px;
}

img.help {
    border: 1px solid #000000;
    border-radius: 20px;
}

img.logo {
    margin-top: 100px;
}

select option{
    font-size: 11pt;
}

select option:first-child {
    font-size: 9pt;
}

select.config {
    overflow: hidden;
    background-color: #000000;
    border: 4px solid #000000;
    border-radius: 20px;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11pt;
    margin: 4px 2px;
    cursor: pointer;
    outline: none;
}

#wrap0 {
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
    width: 800px;
}

#wrap1 {
    text-align: center;
    width: 800px;
}

#one, #two, #three, #four, #five, #six {
     display: inline-block;
     padding-left: 20px;
     padding-right: 20px;
}

#left, #right {
     display: inline-block;
     padding: 10px;
}

